html,
body {
    height: 100%;
}

.clear-fix::before,
.clear-fix::after {
    content: " ";
    display: table;
}

.clear-fix::after {
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

body {
    background-color: #cccccc;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .quote-container {
    width: 450px;
    padding: 40px 50px;
    border-radius: 5px;
    background: #ffffff;
}

.quote .quote-container .quote-content {
    font-size: 1.75em;
}

.quote .quote-container .quote-content i {
    font-size: 1.0em;
}

.quote .quote-container .quote-author {
    text-align: right;
    margin: 20px 0;
    font-size: 1.2em;
}

.quote .quote-container .buttons .button {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 50%;
    background: #cccccc;
    color: #ffffff;
}

.quote .quote-container .buttons .button i {
    font-size: 1.2em;
}

.quote .quote-container .buttons button {
    border: none;
    float: right;
    -webkit-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.quote .quote-container .buttons button:hover {
    opacity: 0.8;
    cursor: pointer;
    font-size: 1.5em;
}

.quote .footer {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.quote .footer a {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .quote .quote-container {
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
    }
    .quote .quote-container .buttons {
        text-align: center;
    }
    .quote .quote-container .buttons .button i {
        font-size: 2.0em;
    }
    .quote .quote-container .buttons button {
        border: none;
        float: none;
    }
    .quote .quote-container .buttons button:hover {
        font-size: 1.0em;
    }
}